In [1]:
import pandas as pd
import random
import requests
import json

In [2]:
cities = pd.read_csv('CleanedSheet.csv')
dummy_users = pd.read_csv('MOCK_DATA(1).csv')

In [3]:
number_of_options = cities['DISTRICT'].nunique()
number_of_options

825

In [4]:
def getLocation():
    index = random.randint(1, number_of_options)
    return "{district}, {state}".format(district=cities['DISTRICT'][index], state=cities['STATE/UT'][index])

getLocation()

'GHAZIABAD, UTTAR PRADESH'

In [5]:
dummy_users.shape

(499, 6)

In [6]:
loc_arr = [getLocation() for _ in range(dummy_users['id'].nunique())]
len(loc_arr)

499

In [22]:
loc_assign.head()

,id,name,age,gender,email,location
0,1,Sib,35,Female,salfonsini0@flickr.com,"AURANGABAD COMMR., MAHARASHTRA"
1,2,Mollie,18,Female,mtumini1@yahoo.co.jp,"KASARGOD, KERALA"
2,3,Sadye,36,Female,sbatecok2@nsw.gov.au,"HIMATNAGAR, GUJARAT"
3,4,Wade,53,Male,wchasemoore3@google.com.hk,"LEH, JAMMU & KASHMIR"
4,5,Tonie,41,Female,tgeratt4@about.me,"NOWRANGPUR, ODISHA"

In [24]:
loc_assign.to_csv("LocationAddedSheet.csv")