In [40]:
import pandas as pd
import requests

In [41]:
df = pd.read_csv('LocationAddedSheet.csv')
df.head()

,Unnamed: 0,id,name,age,gender,email,location
0,0,1,Sib,35,Female,salfonsini0@flickr.com,"AURANGABAD COMMR, MAHARASHTRA"
1,1,2,Mollie,18,Female,mtumini1@yahoo.co.jp,"KASARGOD, KERALA"
2,2,3,Sadye,36,Female,sbatecok2@nsw.gov.au,"HIMATNAGAR, GUJARAT"
3,3,4,Wade,53,Male,wchasemoore3@google.com.hk,"LEH, JAMMU & KASHMIR"
4,4,5,Tonie,41,Female,tgeratt4@about.me,"NOWRANGPUR, ODISHA"

In [42]:
location_list = df.get('location').to_list()

In [43]:
latitude = []
longitude = []

In [44]:
payload = {
    'key': 'ciGNJ4Y3fvsCmD3Wrnx8gG7RAWpAWzRg',
    'inFormat': 'kvp',
    'outFormat': 'json',
    'thumbMaps': 'false',
    'location': 'ENTER LOCATION HERE'
}

for location in location_list:
    payload['location'] = location
    r = requests.get('https://www.mapquestapi.com/geocoding/v1/address', params=payload)
    res = r.json()
    latLng = res['results'][0]['locations'][0]['latLng']
    latitude.append(latLng['lat'])
    longitude.append(latLng['lng'])

In [46]:
print(len(latitude))
print(len(longitude))

499
499

In [47]:
df['latitude'] = latitude
df['longitude'] = longitude

In [48]:
df.head()

,Unnamed: 0,id,name,age,gender,email,location,latitude,longitude
0,0,1,Sib,35,Female,salfonsini0@flickr.com,"AURANGABAD COMMR, MAHARASHTRA",19.873954,75.32778
1,1,2,Mollie,18,Female,mtumini1@yahoo.co.jp,"KASARGOD, KERALA",12.535050,74.99952
2,2,3,Sadye,36,Female,sbatecok2@nsw.gov.au,"HIMATNAGAR, GUJARAT",23.558400,72.75740
3,3,4,Wade,53,Male,wchasemoore3@google.com.hk,"LEH, JAMMU & KASHMIR",32.717670,74.87053
4,4,5,Tonie,41,Female,tgeratt4@about.me,"NOWRANGPUR, ODISHA",-37.089700,-56.83919

In [50]:
df.to_csv('LatLngAddedSheet.csv', index=False)

In [51]:
df = pd.read_csv('LatLngAddedSheet.csv')
df.head()

,Unnamed: 0,id,name,age,gender,email,location,latitude,longitude
0,0,1,Sib,35,Female,salfonsini0@flickr.com,"AURANGABAD COMMR, MAHARASHTRA",19.873954,75.32778
1,1,2,Mollie,18,Female,mtumini1@yahoo.co.jp,"KASARGOD, KERALA",12.535050,74.99952
2,2,3,Sadye,36,Female,sbatecok2@nsw.gov.au,"HIMATNAGAR, GUJARAT",23.558400,72.75740
3,3,4,Wade,53,Male,wchasemoore3@google.com.hk,"LEH, JAMMU & KASHMIR",32.717670,74.87053
4,4,5,Tonie,41,Female,tgeratt4@about.me,"NOWRANGPUR, ODISHA",-37.089700,-56.83919