In [21]:
import pandas as pd
import random
import requests
import json

In [2]:
cities = pd.read_csv('CleanedSheet.csv')
dummy_users = pd.read_csv('MOCK_DATA(1).csv')

In [4]:
number_of_options = cities['DISTRICT'].nunique()
number_of_options

825

In [7]:
def getLocation():
    index = random.randint(1, number_of_options)
    return "{district}, {state}".format(district=cities['DISTRICT'][index], state=cities['STATE/UT'][index])

getLocation()

'TIKAMGARH, MADHYA PRADESH'

In [12]:
loc_arr = [getLocation() for _ in range(dummy_users['id'].nunique())]
len(loc_arr)

499

In [13]:
loc_assign = dummy_users.assign(location=loc_arr)
loc_assign.head()

,id,name,age,address,gender,email,location
0,1,Sib,35,59 Bayside Circle,Female,salfonsini0@flickr.com,"UDHAMPUR, JAMMU & KASHMIR"
1,2,Mollie,18,5056 High Crossing Trail,Female,mtumini1@yahoo.co.jp,"RAIGAD, MAHARASHTRA"
2,3,Sadye,36,411 Northfield Avenue,Female,sbatecok2@nsw.gov.au,"NORTH, TRIPURA"
3,4,Wade,53,51 Browning Lane,Male,wchasemoore3@google.com.hk,"KARNAL, HARYANA"
4,5,Tonie,41,0311 Arrowood Alley,Female,tgeratt4@about.me,"UNA, HIMACHAL PRADESH"

In [16]:
loc_assign = loc_assign.drop(['address'], axis=1)

In [17]:
loc_assign.head()

,id,name,age,gender,email,location
0,1,Sib,35,Female,salfonsini0@flickr.com,"UDHAMPUR, JAMMU & KASHMIR"
1,2,Mollie,18,Female,mtumini1@yahoo.co.jp,"RAIGAD, MAHARASHTRA"
2,3,Sadye,36,Female,sbatecok2@nsw.gov.au,"NORTH, TRIPURA"
3,4,Wade,53,Male,wchasemoore3@google.com.hk,"KARNAL, HARYANA"
4,5,Tonie,41,Female,tgeratt4@about.me,"UNA, HIMACHAL PRADESH"

In [18]:
loc_assign.shape

(499, 6)

In [72]:
def jprint(obj):
    # create a formatted string of the Python JSON object
    text = json.dumps(obj, sort_keys=True, indent=4)
    print(text)

def getCoordinates(location, iteration) :
    params = {
        "key": "ldOkdJeAmvXXqGpSkW31SxK7bBlm6SG1",
        "location": location
    }
    response = requests.get("http://open.mapquestapi.com/geocoding/v1/address", params=params)
#     jprint(response.json())
    latLng = response.json()['results'][0]['locations'][0]['latLng']
    if iteration%10 == 0:
        print("Finished iteration ${iterValue}".format(iterValue=iteration))
    return (latLng['lng'], latLng['lat'])
    
# coord = getCoordinates(loc_assign['location'][0])
# coord

In [73]:
# for count, val in enumerate(loc_assign['id']):
#     print (count, loc_assign['location'][val])

coord_arr = [getCoordinates(loc_assign['location'][val], count) for count, val in enumerate(loc_assign['id'])]

Finished iteration $0
Finished iteration $10
Finished iteration $20
Finished iteration $30
Finished iteration $40
Finished iteration $50
Finished iteration $60
Finished iteration $70
Finished iteration $80
Finished iteration $90
Finished iteration $100
Finished iteration $110
Finished iteration $120
Finished iteration $130
Finished iteration $140
Finished iteration $150
Finished iteration $160
Finished iteration $170
Finished iteration $180
Finished iteration $190
Finished iteration $200
Finished iteration $210
Finished iteration $220
Finished iteration $230
Finished iteration $240
Finished iteration $250
Finished iteration $260
Finished iteration $270
Finished iteration $280
Finished iteration $290
Finished iteration $300
Finished iteration $310
Finished iteration $320
Finished iteration $330
Finished iteration $340
Finished iteration $350
Finished iteration $360
Finished iteration $370
Finished iteration $380
Finished iteration $390
Finished iteration $400
Finished iteration $410
Finished iteration $420
Finished iteration $430
Finished iteration $440
Finished iteration $450
Finished iteration $460
Finished iteration $470
Finished iteration $480
Finished iteration $490

KeyError: 499

In [74]:
longitude = [arr[0] for arr in coord_arr]
latitude = [arr[1] for arr in coord_arr]

In [75]:
len(longitude)

493

In [51]:
coord_arr_sub = [getCoordinates(loc_assign['location'][val], count) for count, val in enumerate(loc_assign['id'][:5])]
longitude_arr_sub = [arr[0] for arr in coord_arr_sub]
latitude_arr_sub = [arr[1] for arr in coord_arr_sub]
latitude_arr_sub

Finished iteration $0

[18.559439, 23.775082, 29.680327, 31.583333, 39.78373]

In [56]:
for x in longitude:
    longitude_arr_sub.append(x)
for y in latitude:
    latitude_arr_sub.append(y)

In [71]:
longitude_arr_sub[4], latitude_arr_sub[4]

(-100.445882, 39.78373)

In [59]:
loc_assign.tail()

,id,name,age,gender,email,location
494,495,Sibyl,46,Female,sgaitleydr@narod.ru,"DHAMTARI, CHHATTISGARH"
495,496,Cleavland,33,Male,ccarderds@sohu.com,"NICOBAR, A & N ISLANDS"
496,497,Ninon,36,Female,noconnelldt@miibeian.gov.cn,"CACHAR, ASSAM"
497,498,Arlinda,24,Female,aakermandu@reddit.com,"ETAH, UTTAR PRADESH"
498,499,Nissa,23,Female,nshakeladydv@epa.gov,"LAHAUL-SPITI, HIMACHAL PRADESH"

In [70]:
getCoordinates(loc_assign['location'][4], 0)

Finished iteration $0

(76.25, 31.583333)